.form-overlay { display: none; }

.processing { position: relative; }

.processing .form-base { opacity: .3; }

.processing .form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
}
